.premium-user{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 35px auto;
    box-shadow: 0 0 3px #ccc;
    border-radius: 3px;
    padding: 10px;
}
.premiumsusersdiv h2{
    text-align: center;
    font-size: 3em;
    margin: 15px 0 0;
}
.premium-user:hover{
    cursor: pointer;
}
.img-premium-user{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: solid 3px rgb(165, 165, 165);
    background-size: cover;
    background-repeat: no-repeat;
}
.description p{
    margin-top: 5px;
    font-size: 14px;
}
.name-user-premium{
    display: flex;
    flex-direction: column;
}
.flex-avaliables{
    display: flex;
    margin: 3px 0;
}
